.region-select,
.destination-type {
    width: 14rem;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.submit-btn {
    width: 12rem;
    background-color: rgb(127 204 147);
    margin: 10px;
}
