@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

a {
    color: grey;
}

.logo {
    font-family: 'Neucha', cursive;
    font-weight: 600;
    color: #6a514c;
    font-size: 50px;
    text-decoration: none;
    padding-left: 15px;
    margin-top: 10px;
}