@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@200;500&display=swap');

.destination-image {
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid;
    height: 190px;
    width: 300px;
}

.destination-wrapper {
    margin: 70px;
    width: 20%;
    border: 1px solid;
    padding: 20px;
    background-color: rgb(213 237 220);
    border-radius: 20px;
}

.destination-container {
    margin: 10px 40px;
}

.smaller-name {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    
}

#reagion {
    font-weight: 200;
}

